@model IEnumerable<AgriEnergyConnect.Models.Product>

@{
    ViewData["Title"] = "View Products";
}


<h1>Select a Farmer</h1>

<form id="farmerForm">
    <div>
        <label for="farmerDropdown">Select Farmer:</label>
        <select id="farmerDropdown" name="farmerId" asp-items="ViewBag.Farmers">
            <option value="">-- Select a Farmer --</option>
        </select>
    </div>

    <div id="products-container">
        <!-- Product list will be loaded here via AJAX -->
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#farmerDropdown').change(function () {
                var farmerId = $(this).val();
                if (farmerId) {
                    $.ajax({
                        url: '@Url.Action("GetProducts", "Employee")',  // Action to get products
                        type: 'GET',
                        data: { farmerId: farmerId },
                        success: function (response) {
                            $('#products-container').html(response);  // Insert product list into container
                        },
                        error: function () {
                            alert('Error loading products');
                        }
                    });
                } else {
                    $('#products-container').empty();  // Clear product list if no farmer is selected
                }
            });
        });
    </script>
}

