@model AgriEnergyConnect.Models.ViewModel.FarmerDashboardViewModel

@{
    ViewData["Title"] = "Farmer Dashboard Page";
}

<h3 style="margin-top: 30px;">Add a New Product</h3>
<form asp-action="AddProduct" method="post">
    <div class="form-group">
        <label>Name</label>
        <input name="Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Category</label>
        <select name="Category" class="form-control" required>
            <option value="">-- Select Category --</option>
            <option>Fresh Produce</option>
            <option>Grains & Cereals</option>
            <option>Livestock & Animal Products</option>
            <option>Dairy Products</option>
            <option>Poultry</option>
            <option>Horticulture</option>
            <option>Legumes & Nuts</option>
            <option>Organic Products</option>
            <option>Processed Goods</option>
            <option>Other</option>
        </select>
    </div>

    <div class="form-group">
        <label>Production Date</label>
        <input name="ProductionDate" type="date" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Desctiption</label>
        <input name="Description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success" style="margin-top: 15px;">Add Product</button>
</form>

<hr />

<h3>Your Products</h3>
@if (Model.Products.Any())
{
    <div class="bg-white">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Production Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Category</td>
                        <td>@product.Description</td>
                        <td>@product.ProductionDate.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No products yet.</p>
}